.hero-content {
  display: flex;
  align-items: center;
}

.hero-content img {
  height: 50px;
  margin-right: 10px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.main-content {
  min-height: calc(100vh - 100px);
}